<header class='top-page-header'>
  <div class="title-contents">
    <%= link_to "GiziGizi", "/", class:"title-logo"%>
  </div>

  <div class='nav'>
    <ul class="nav-lists">
      <% if user_signed_in? %>
        <li><%=link_to "新規議事録登録", "#", class:"nav-list"%></li>
        <li><%=link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-list"%></li>
        <li><%= "#{current_user.last_name }#{current_user.first_name}さん" %>
      <% else %>
        <li><%=link_to "ログイン", new_user_session_path, class:"nav-list"%></li>
        <li><%=link_to "新規登録", new_user_registration_path, class:"nav-list"%></li>
      <% end %>
    </ul>
  </div>
</div>