<header><%= render "shared/header" %></header>

<div class="main">
  <div class ="side-bar">
  ★ピン留めリスト
    <% @minute.each do |minute|%>
      <%= render partial:'short_minute', locals:{minute: minute} %>
    <% end%>
  </div>
  <div class="main-bar">
    <div class="main-upper-bar">
    <%= form_with(url:search_minutes_path, local: true, method: :get, class:"search-class") do |f| %>
      <%= f.text_field :keyword, placeholder:"検索したいワードを入力してください", class:"search-form" %>
      <%= f.submit "検索", class:"search-submit-btn" %>
    <% end %>
    </div>
    <div class="main-lower-bar">
    ■検索結果
      <% @minutes.each do |minute|%>
        <%= render partial:'minute', locals:{minute: minute} %>
      <% end %>
      <%= link_to "トップページに戻る", root_path %>
    </div>
  </div>
</div>

<footer><%= render "shared/footer" %></footer>