<header><%= render "shared/header" %></header>

<div class="main">
  <div class ="left-bar">
  ■議事録詳細内容
  <div class="close-display">
    <% if @minute.closes.present? %>
      <%= "この議事録は#{@minute.user.last_name}#{@minute.user.first_name}さんによりclosed設定済みです" %>
    <% end %>
  </div>
    <div class="function-bar">
      <% if current_user.id == @minute.user_id %>
        <%= link_to "編集", edit_minute_path(@minute.id), class:"user-only-func-btn" %>
        <%= link_to "削除", minute_path(@minute.id), method: :delete, class:"user-only-func-btn" %>
        <% if @minute.closes.empty? %>
          <%= link_to "この議事録をclosedする", minute_closes_path(@minute.id), method: :post, class:"add-btn" %>
        <% else %>
          <%= link_to "この議事録を再openする", minute_close_path(@minute.id), method: :delete, class:"delete-btn" %>
        <% end %>
      <% end %>
      <div class="pin-btns", id="pin-btns", onclick="window.location.reload()">
        <% if Pin.where(user_id: current_user.id).where(minute_id: @minute.id).empty? %>
          <%= link_to "ピン留めに追加", minute_pins_path(@minute), method: :post, class:"add-btn" %>
        <% else %>
          <%= link_to "ピン留めを外す", minute_pin_path(@pin), method: :delete, class:"delete-btn" %>
        <% end %>
      </div>
      <input type="button"  class="koshin-btn" value="更新" id="koshin">
    </div>

    <div class="minute-iists">
      <li class="minute-list">
        <div class="info-title">
        会議名
        </div>
        <%= @minute.title %>
      </li>

      <li class="minute-list">
        <div class="info-title">
        プロジェクト名
        </div>
        <%= @minute.project_name %>
      </li>

      <li class="minute-list">
        <div class="info-title">
        会議参加者
        </div>
        <%= @minute.participate_member %>
      </li>

      <li class="minute-list">
        <div class="info-title">
        会議開催日
        </div>
        <%= @minute.meeting_date %>
      </li>

      <li class="minute-list">
        <div class="info-title">
        タスク全項目終了予定日
        </div>
        <%= @minute.all_complete_date %>
      </li>

      <li class="minute-list">
        <div class="info-title">
        会議内容
        </div>
        <%= @minute.content %>
      </li>

      <% if @minute.images.present?%>
        <li class="minute-list">
          <div class="info-title">
          添付ファイル
          </div>
          <div class="minute-image">
            <% @minute.images.each do |image|%>
              <%= image_tag image, class:'images'%>
            <% end %>
          </div>
        </li>
      <% end %>
    </div>
  </div>

  <div class="right-bar">
    <div class="right-upper-bar">
    ■To Do リスト
    <% unless @to_do_list.present? %>
      <div class="to_do_input_form">
        <%= link_to "To Do リストを登録する", new_minute_to_do_list_path(@minute.id), class:"to_do_input_form_btn"%>
      </div>

    <% else %>
    <div class="to_do_list_show">
      <div class="to_do_list_edit">
        <%= link_to "編集", edit_minute_to_do_list_path(@to_do_list.minute.id, @to_do_list.id), class:"to_do_list_edit_btn" %>
      </div>
      <div class="to_do_list_contents">
        <li>
          <%if @to_do_list.checked_list1 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list1 %>
        </li>

        <% if @to_do_list.list2.present?%>
          <li>
          <%if @to_do_list.checked_list2 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list2 %>
        </li>
        <% end %>

        <% if @to_do_list.list3.present?%>
          <li>
          <%if @to_do_list.checked_list3 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list3 %>
        </li>
        <% end %>

        <% if @to_do_list.list4.present?%>
          <li>
          <%if @to_do_list.checked_list4 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list4 %>
        </li>
        <% end %>

        <% if @to_do_list.list5.present?%>
          <li>
          <%if @to_do_list.checked_list5 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list5 %>
        </li>
        <% end %>

        <% if @to_do_list.list6.present?%>
          <li>
          <%if @to_do_list.checked_list6 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list6 %>
        </li>
        <% end %>

        <% if @to_do_list.list7.present?%>
          <li>
          <%if @to_do_list.checked_list7 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list7 %>
        </li>
        <% end %>

        <% if @to_do_list.list8.present?%>
          <li>
          <%if @to_do_list.checked_list8 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list8 %>
        </li>
        <% end %>

        <% if @to_do_list.list9.present?%>
          <li>
          <%if @to_do_list.checked_list9 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list9 %>
        </li>
        <% end %>

        <% if @to_do_list.list10.present?%>
          <li>
          <%if @to_do_list.checked_list10 == true %>
            <span class="cheked-mark">済</span>
          <% end %>
          <%= @to_do_list.list10 %>
        </li>
        <% end %>
      </div>
    </div>
    <% end %>
    </div>

    <div class="right-lower-bar">
    ■コメント欄
      <div class="comments">
        <% @comments.each do |comment|%>
          <div class="comment">
          
            <div class=comennt-contents>
              <div class="comment-user_name">
                <%= "#{comment.user.last_name} #{comment.user.first_name}" %>:
              </div>
              <div class="comment_content">
                <%= comment.title %> 
              </div>
            </div>

            <div class="comment-edit-destroy">
              <% if current_user.id == comment.user_id %>
                <%= link_to "編集", edit_minute_comment_path(comment.minute.id, comment.id), class:"comment-edit-destroy-btn" %>
                <%= link_to "削除", minute_comment_path(comment.minute.id, comment.id), method: :delete, class:"comment-edit-destroy-btn" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="comment-exit">
          <% if @comments.present? %>
            この投稿に関するコメントは以上です。
          <% else %>
            この投稿にはコメントは投稿されていません。
          <% end %>
        </div>
        <br>
        <%=link_to "トップページに戻る", root_path%>

      </div>
        <%= link_to "コメントする", new_minute_comment_path(@minute.id), class:"comment-button"%>
      </div>
    </div>
  </div>

</div>

<footer><%= render "shared/footer" %></footer>